{% extends 'base.html' %}

{% block content %}
<div class="whitespace-2"></div>
<div class="container text-center">
    <div class="whitespace-1"></div>
    <h1 class="title-name-2">Write Your Name</h1>
    <div class="whitespace-2"></div>
    {%if user.is_authenticated%}
        <form method="POST">{%csrf_token%}
            {{form.as_p}}
            <button>Add me!</button>
        </form>
    {%else%}
        <p>To access this you will need to <a href="{% url 'login'%}">Login</a></p>
    {%endif%}
    
    <div class="whitespace-1"></div>
    <div class="whitespace-2"></div>

</div>
{% endblock %}