{% extends "base.html" %}

                    {% block sidebar-content %}
                    <a class="color-2" href="#me"> <h1 class="content-2">My photos</h1> </a>
                    <a class="color-2" href="#friends"> <h1 class="content-2">Friends</h1> </a>
                    <a class="color-2" href="#family"> <h1 class="content-2">Family</h1> </a>
                    <a class="color-2" href="#random"> <h1 class="content-2">Random^2</h1> </a>
                    {% endblock %}

                    {% block content %}
            <div style="background-color: #000D00;">
                <div class="whitespace-2"></div>
                <div class="whitespace-2"></div>
                <div class="text-center">
                    <h1 class="title-name-2 color-2" id="home">Random Photos on My Computer</h1>
                </div>
                <div class="whitespace-2"></div>
                <div class="row col-10 offset-1" >
                    <div id="me" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/1.JPG" alt=""></div>
                    <div id="friends" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/2.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/3.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/4.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/5.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/6.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/7.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/9.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/10.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/11.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/12.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/13.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/14.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/15.JPG" alt=""></div>
                    <div id="family" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/16.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/17.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/18.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/19.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/20.JPG" alt=""></div>
                    <div id="random" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/21.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/22.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/23.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/24.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/25.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/26.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/27.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/28.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/29.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/30.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/31.JPG" alt=""></div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <img class="album" src="static/images/Album/32.JPG" alt=""></div>
                </div>
                <div class="whitespace-2"></div>
                <div class="whitespace-2"></div>
                <div class="whitespace-2"></div>
                <div style="background-color: white;">
                        <div class="whitespace-4"></div>
                        <div class="text-center">
                            <a href="#home">
                                <img src="static/images/arrow-up-01-512.webp" style="width: 100px;" alt="">
                                <p class="content color-2">Get Back to top!</p>
                            </a>

                            <div class="whitespace-2"></div>
                            <p class="content-2 color-2">or</p>
                            <div class="whitespace-2"></div>

                            <a href="index">
                                <p class="content color-2">Go back to main page</p>
                                <img src="static/images/arrow-left.png" style="width: 100px;" alt="">
                            </a>
                        </div>
                        <div class="whitespace-4"></div>
                    </div>
            </div>
                {% endblock %}