{% extends 'base.html' %}

{% block content %}
<div class="whitespace-2"></div>
<div class="container text-center">
    <div class="whitespace-2"></div>
    <div class="whitespace-2"></div>
    <h1 class="title-name-2">Login</h1>
    <div class="whitespace-2"></div>
    <form method="POST">{%csrf_token%}

        {{form.as_p}}
        <button class="btn btn-primary">Login</button>

    </form>
    <br>
    <p>Don't have an account? <a href="/account/register"> Sign up</a></p>
    <div class="whitespace-1"></div>
    <div class="whitespace-1"></div>

</div>
{% endblock %}