{% extends 'base.html' %}

{% block content %}
<div class="whitespace-2"></div>
<div class="container text-center">
    <div class="whitespace-2"></div>
    <div class="whitespace-2"></div>
    <h1 class="title-name-2">Register</h1>
    <div class="whitespace-2"></div>
    <form method="POST" class="text-left">{%csrf_token%}

        {{form.as_p}}
        <button class="btn btn-primary">Register</button>

    </form>
    <p>Already have an account? <a href="{% url 'login'%}"> Log in</a></p>
    <div class="whitespace-1"></div>
    <div class="whitespace-2"></div>

</div>
{% endblock %}