{% extends 'base.html' %}

{% block content %}
<div class="whitespace-2"></div>
<div class="container text-center">
    <div class="whitespace-2"></div>
    <div class="whitespace-2"></div>
    <h1 class="title-name-2">Welcome</h1>
    {%if user.is_authenticated%}
    <h1 class="title-name-2">{{user.username}}</h1>
    {%else%}
        <p>You're not logged in, please <a href="{% url 'login'%}">Login</a></p>
    {%endif%}
    
    <div class="whitespace-2"></div>
    <a href="/" class="btn btn-primary">Go to main page</a>
    <div class="whitespace-1"></div>
    <div class="whitespace-2"></div>

</div>
{% endblock %}