<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/1(edited).jpg' %}" type="image/icon type">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    {% block head %}
    {% endblock %}
    <title>Samuel Sharon</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 d-none d-sm-block px-1 position-fixed fixed-sidebar"
                id="sticky-sidebar">
                <div class="text-center fixed-sidebar-contents">
                    {% block sidebar-hidden-menu %}
                    <div>
                    <a class="color-2" href="/">
                        <h1 class="content-2" style="color: orange;">Profile</h1>
                    </a>
                    <a class="color-2" href="/album">
                        <h1 class="content-2" style="color: orange;">Album</h1>
                    </a>
                    <a class="color-2" href="/oldIndex">
                        <h1 class="content-2" style="color: orange;">Story 1</h1>
                    </a>
                    <a class="color-2" href="/classes/">
                        <h1 class="content-2" style="color: orange;">Classes</h1>
                    </a>
                    <a class="color-2" href="/events/">
                        <h1 class="content-2" style="color: orange;">Events</h1>
                    </a>
                    <a class="color-2" href="/accordion/">
                        <h1 class="content-2" style="color: orange;">Info</h1>
                    </a>
                    <a class="color-2" href="/search/">
                        <h1 class="content-2" style="color: orange;">Books</h1>
                    </a>
                    </div>
                    {% endblock %}
                    <br>
                    {% block sidebar-content %}
                    {% endblock %}
                    <br>
                    {% block sidebar-hidden-login %}
                    {%if user.is_authenticated%}
                    <a class="color-2" href="{% url 'logout' %}">
                        <h1 class="content-2" style="color: orange;">Logout</h1>
                    </a>
                    {%else%}
                    <a class="color-2" href="{% url 'login' %}">
                        <h1 class="content-2" style="color: orange;">Login</h1>
                    </a>
                    {%endif%}
                    {% endblock %}
                    
                </div>
            </div>
            <div class="offset-xl-1 offset-lg-2 offset-md-2 offset-sm-3" id="main">

                <nav class="d-block d-sm-none navbar navbar-expand-lg navbar-dark navbar-inverse fixed-top">
                    <a class="navbar-brand" href="#">Tabs</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="/">Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/album">Album</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/oldIndex">Story 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/classes/">Classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accordion">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search">Books</a>
                        </li>
                    </div>
                </nav>
                {% block content %}
                {% endblock %}
                <div style="width: 100%; background-color: #000D00;">
                    <p style="color: #000D00;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas magnam nobis fugit quis odit aut repudiandae, corporis, iusto repellendus facilis similique pariatur, voluptate veritatis laudantium facere et a accusamus ratione? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio dolore velit earum necessitatibus ipsum nostrum tenetur vel sed nisi aspernatur nobis, fugiat eius nam pariatur veniam corporis? In, repudiandae ex?</p>
                </div>
            </div>
        </div>
    </div>
    <!-- necessary for the bootstrap navbar -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#accordion" ).accordion({
                
            });
        } );
    </script>
    <script>
        var hidden = true
        
    </script>
</body>

</html>