{% extends "base.html" %}
{% block content %}
<div class="container text-center content">
    <div class="whitespace-1"></div>
    <h3>Delete: {{ classes.matkul }}</h3>
    <br><br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure about that?</strong>
            <br><br>
            <button class="btn btn-secondary">Delete Class</button>
        </form>
    </div>
    <a href="/classes/"><h4>No! Take Me Back!</h4></a>
</div>
<div class="whitespace-1"></div>
<div class="whitespace-4"></div>
{% endblock %}