{% extends "base.html" %}
{% block content %}
<div>
    <div class="whitespace-4"></div>
    <div class="text-center">
        <h1 class="title-name-2 color-2">These Are the Classes I am Taking</h1>
    </div>
    <div class="whitespace-2"></div>
    <div class="text-center container">

        <table class="table table-striped content">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Press X to Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a class="color-1" href="{% url 'classes:classes-detail' item.pk %}">{{ item.matkul }}</a></td>
                        <td>
                            <a href="{% url 'classes:classes-delete' item.pk %}"><h3 style="text-align: center; color: red;">X</h3></a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            <br><br>
        <a href="/classes/add"><h1 class="content color-2">Add Class</h1></a>
    </div>
</div>
<div class="whitespace-1"></div>

{% endblock %}